{% extends 'base.html' %}

{% block content %}

    <div class="text-center">
        <h1>VIDEOGAMES</h1>
    </div>

    <div class="text-center">
        <div id="Agregar" style="display: '';">
            <div>
                <form method="post">
                    <div>
                        <nav class="navbar bg-body-tertiary">
                            <div class="container-fluid">
                                <a class="navbar-brand">BUSCADOR</a>
                                <form class="d-flex" role="search">
                                    <input type="search" name="name" id="name" placeholder="Write a videogame..." class="form-control me-2" aria-label="Search">
                                    <br>
                                    <br>
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </form>
                            </div>
                        </nav>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for i in response.videogames %}
                    <div class="col">
                        <div class="card shadow-sm d-flex align-items-center" id="card">
                            <img src={{i.image1}} width="100" heitgh="100">
                            <!-- <svg class="bd-placeholder-img card-img-top" width="30%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <text x="50%" y="50%" fill="#eceeef" dy=".3em">{{i.name}}</text>
                            </svg> -->
                            <h1>{{i.name}}</h1>
                            <!-- <p class="card-text">{{i.descripcion}}</p> -->
                            <a href="/view/{{i.id}}" class="btn btn-sm btn-outline-secondary">
                                View
                                <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

<!--





-->>